
html {
    font-size: 62.5%;
   
}

body {
   
    background: greenyellow;
    font-family: Helvetica, Arial, sans-serif ;
    font-size: 1.6rem;

};

button {

    cursor: pointer;
    outline: none;
}
button:disabled {

    cursor: default
}
.imge {
    height: 600px;
    width: 600px;
    padding-left: 300px;

}
.action-btn {
    padding-left: 500px;
    
}
.options {
    align-items: center;
}
.stu {
    color: red;
    padding-left: 300px;
   
}